.layout {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 32px;
	width: 100%;
	min-height: 100vh;
	padding: 20px 16px 84px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	.main {
		display: flex;
		flex: 1;

		& > section {
			flex: 1;
		}
	}

	.bottomBlur {
		position: fixed;
		bottom: -170px;
		left: -212px;
		right: -212px;
		height: 300px;
		filter: blur(80px);
		background: #0e0f0e;
		transform: rotate(-180deg);
		pointer-events: none;
	}
}
